RewriteEngine On

# Redirect /index.php to /
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^ / [L,R=301]

# Redirect /expense.php to /expense
RewriteCond %{THE_REQUEST} /expense\.php [NC]
RewriteRule ^ /expense [L,R=301]

# Rewrite / to /index.php
RewriteRule ^$ index.php [L]

# Rewrite /expense to /expense.php
RewriteRule ^expense$ expense.php [L]
